@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --prefersdark, dark --default;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark *]));

.nav-links a.active {
  @apply text-emerald-400;
}
